<html>
<head>
    <title>[# GITHUB_REPOSITORY #]</title>
    <link rel="stylesheet" href="light.css">
    <script lang="javascript" src="templatesets.js"></script>
</head>
<body>

<h1>[# GITHUB_REPOSITORY #]</h1>

<h2>Description</h2>

<div class="description">[# repository_description #]</div>

<div class="ownedby">
<h2>Owned by</h2>

<div class="owner">
    <a href="[# repository_owner_url #]"><img src="[# repository_owner_avatarUrl #]" height="80px" width="80px" style="vertical-align: middle; border: 0;">[# repository_owner_login #]</a>
</div>
</div>

<h2>History</h2>

This repository was created at [# repository_createdAt #] and was last updated at [# repository_updatedAt #].

It was starred [# repository_stargazerCount #] times, have [# repository_watchers_totalCount #] watchers and was forked [# repository_forkCount #] times.

<h2>Content</h2>

<div id="languages"></div>
<script>languagesDiv([# repository_languages #], [# repository_languages_totalSize #])</script>

<div id="topics"></div>
<script lang="javascript">topicsDiv([# repository_repositoryTopics #])</script>

<h2>License</h2>

<p>This repository contents are under: <a href="[# repository_licenseInfo_url #]">[# repository_licenseInfo_name #]</a></p>

<div class="footer">
<p class="lastupd">Last updated: [# TMPL_LASTUPDATE #]</p>
<p class="actionmkt">Created automatically using <a href="[# GITHUB_SERVER_URL #]/itamarc/action-itemplate-ghpages" target="_blank">itamarc/action-itemplate-ghpages</a>.</p>
</div>
</body></html>
