body  {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:black;
    background-color: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
}

a, a:visited {
    text-decoration: none;
    color: #3091DC;
}

a:hover {
    text-decoration: underline;
    color: #319ff3;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links p {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border: black 1px solid;
}

div.description {
    text-align: justify;
}

#watchers, #stars, #forks {
    border: #333 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

div.ownedby img {
    vertical-align: middle;
    border: 0;
    border-radius: 50%;
}
div.owner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
div.footer {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    clear: both;
}
p.actionmkt {
    font-size: x-small;
}
p.lastupd {
    font-size: small;
}
#issues {
    border: 1px solid rgb(221, 91, 4);
    background-color: wheat;
}
div.issue {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    border: solid 1px rgb(226, 108, 28);
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
    margin-bottom: 5px;
}
span.issueIdSpan {
    white-space: nowrap;
    grid-column: 1 / span 3;
    grid-row: 1;
}
span.issueCreatedAt {
    grid-column: 1;
    grid-row: 2;
}
span.issueAuthor {
    grid-column: 2;
    grid-row: 2;
}
span.issuesCommentsCount {
    grid-column: 3;
    grid-row: 2;
}

.container {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
}

.container h1, .container h2, .container h3 {
    margin-top:10px;  
}

div.languagesBar {
    display: flex;
    width: 100%;
    height: 8px;
}

div.topics {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div.topics span {
    border: #333 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#license {
    background-color: #dbdbdb;
    margin-bottom:0px;
    border-radius:10px 10px 0px 0px ;
}

.smalldiv {
    width: 20%;
    float: left;
    clear: left;
}

.bigdiv {
    width: 79%;
    float: right;
    clear: right;
}
