body {
    background-color: beige;
}
h1 {
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
div.description {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.ownedby img {
    vertical-align: middle;
    border: 0;
}
div.owner {
    display: flex;
    align-items: center;
}
div.footer {
    text-align: center;
    border-top: 2px dashed steelblue;
    width: 70%;
    margin: auto;
}
p.actionmkt {
    font-size: x-small;
}
p.lastupd {
    font-size: small;
}
#issues {
    border: 1px solid grey;
}
span.issueIdSpan {
    white-space: nowrap;
    display: table;
}
span.issueCreatedAt {
    float: left;
}
span.issueAuthor {
    margin: 10px;
}
span.issuesCommentsCount {
    margin: 10px;
}
