body  {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:black;
    background-color: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(110, 108, 108);
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(110, 108, 108);
}

a, a:visited {
    text-decoration: none;
    color: #3091DC;
}

a:hover {
    text-decoration: underline;
    color: #319ff3;
}

div.description {
    text-align: justify;
}

div.ownedby img {
    vertical-align: middle;
    border: 0;
}
div.owner {
    display: flex;
    align-items: center;
}
div.footer {
    text-align: center;
    border-top: 2px dashed steelblue;
    width: 70%;
    margin: auto;
}
p.actionmkt {
    font-size: x-small;
}
p.lastupd {
    font-size: small;
}
#issues {
    border: 1px solid grey;
}
span.issueIdSpan {
    white-space: nowrap;
    display: table;
}
span.issueCreatedAt {
    float: left;
}
span.issueAuthor {
    margin: 10px;
}
span.issuesCommentsCount {
    margin: 10px;
}
