name: Manual workflow to test my action

on:
  workflow_dispatch:

jobs:
  update-docs-on-gh-pages-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Adjust the depth as needed according to the files you want to copy
          fetch-depth: 0
      - name: Copy To Branches Action
        uses: planetoftheweb/copy-to-branches@v1.1
        env:
          # The branch where the files will be copied from
          key: master
          # The destination branch
          branches: gh-pages
          # The files that will be copied with the relative path
          files: README.md
  testaction:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: gh-pages
    - name: Running my action for testing
      id: publishpages
      uses: itamarc/action-itemplate-ghpages@v1test
      with:
        templates_folder: ':light:'
        pages_branch: 'gh-pages'
        pages_folder: 'docs'
        snippets_folder: 'snippets'
        timezone: 'America/Sao_Paulo'
        allow_templates_subfolders: 'true'
        publish_readme_md: 'true'
        content_to_copy: 'images'
        log_level: 'FINER'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
