name: Manual workflow to test my action

on:
  workflow_dispatch:

jobs:
  testaction:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: gh-pages
    - name: Running my action for testing
      id: publishpages
      uses: itamarc/action-itemplate-ghpages@v1test
      with:
        templates_folder: ':light:'
        pages_branch: 'gh-pages'
        pages_folder: 'docs'
        snippets_folder: 'snippets'
        timezone: 'America/Sao_Paulo'
        allow_templates_subfolders: 'true'
        publish_readme_md: 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
