# This is a basic workflow that is manually triggered

name: Manual workflow to test my action

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  testaction:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # The branch where the templates are stored
        # (if not present, uses the default branch)
        ref: gh-pages
    - name: Running my action for testing
      id: publishpages
      uses: itamarc/action-itemplate-ghpages@v1test
      with:
        templates_folder: 'docs/templates'
        pages_branch: 'gh-pages'
        pages_folder: 'docs'
        snippets_folder: 'docs/templates/snippets'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

